services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=plazoleta-users'
      - 'POSTGRES_PASSWORD=ap12345'
      - 'POSTGRES_USER=root'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata: