server:
  port: ${PORT}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION_TIME}

appDescription: "Plazoleta Users"
appVersion: "1.0.0"
